* {
    margin: 0%;
    padding: 0%;
}

/* Codigos CSS para pagina principal */

.bodyFondo {
    background-color: #5c0606;
}

h1 {
    color: #f4a259;
    font-size: 60px;
    text-align: center;
    font-family: "Ibarra Real Nova", serif;
    font-weight: 400;
}

.titulosSecundarios {
    color: #f4a259;
    font-size: 60px;
    text-align: center;
    font-family: "Ibarra Real Nova", serif;
    font-weight: 400;
}
/* Codigo CSS */

/* Sección Inicio */

.imgChica {
    width: 950px;
    height: 100%;
    display: block;
    margin: auto;
}

.imga {
    display: block;
    margin: auto;
    width: 60%;
    height: 400px;
}

.imagIzq {
    margin-right: 30%;
    width: 300px;
    height: 200px;
    
}

.imagDer {
    margin-left: 0%;
    width: 300px;
    height: 200px;
    margin: 10px;
}

.novedadMes {
    width: 20%;
    margin: 20px auto;
}

.promocionesMes {
    margin: 10px 50px;

}

.containerEventos {
    width: 100%;

}

.containerEventos .eventosColumna {
    width: (95%/4);
    max-width: 23%;
    margin: 10px;
    display: inline-flex;
    flex-wrap: wrap;
    
}


P {
    color: #f4fec1;
    text-align: justify;
    margin: 10px;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    flex-wrap: wrap;
}

.caja {
    position: relative;
    display: inline-block;
    margin: 10px 120px;
}

.textoUno {
    position: absolute;
    top: 100px;
    left: 80px;
    color: #21291f;
    background-color: #e8f37fd0;
    font-size: 35px;
    font-family: "Ibarra Real Nova", serif;
}

.textoDos {
    position: absolute;
    top: 100px;
    right: 90px;
    color: #21291f;
    background-color: #e8f37fd0;
    font-size: 35px;
    font-family: "Ibarra Real Nova", serif;
}

.gradientes {
    background-image: linear-gradient(to left, rgb(79, 61, 45), #7b5151, #36383c);
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    height: 100px;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.gridContenedor {
    width: 100%;
    margin: 5px 0px;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
        "header header"
        "main main"
        "novedades novedades"
        "eventos eventos"
        "temas temas";
}

.gridContenedor .gridHeader {
    grid-area: header;
}

.gridContenedor .gridMenu {
    grid-area: main;
}

.gridContenedor .gridTemas {
    grid-area: temas;
}

.gridContenedor .gridNovedades {
    grid-area: novedades;
}

.gridContenedor .gridEventos {
    grid-area: eventos;
}

@media only screen and (max-width: 747px) {

    .gridContenedor {
        grid-template-areas:
            "header header"
            "main main"
            "eventos eventos"
            "novedades novedades"
            "temas temas";
    }

    .gridTemas {
        width: 80%;
        margin-left: 1%;
    }

    .gridEventos {
        margin-left: 10px;
    }

    .grid img {
        width: 100%;
        margin: 10px;
    }

    section p {
        width: 95%;
        text-align: center;
        font-size: 15px;
        margin: 5px;
    }

    .eventosColumna {
        max-width: 400px;
    }
}

@media only screen and (max-width: 1280px) {
    .gridContenedor {
        grid-template-areas:
            "header header"
            "main main"
            "novedades eventos"
            "temas temas";
    }

    section p {
        width: 98%;
        text-align: justify;
        font-size: 15px;
        margin: 5px;
    }

    .grid img {
        width: 80%;
        margin: 10px;
    }
}

/* Finaliza Sección Inicio */

/* Sección Café Inicio */

.bordeRedondeado {
    border-radius: 400px;
    margin-top: 1%;
}

.imagenChica {
    width: 200px;
    height: 100px;
}

h2 {
    color: rgb(207, 168, 225);
    font-weight: 100;
}

.listados {
    margin: 30px;
}

section ul li {
    color: #85e9af;
    list-style-type: upper-alpha;
    list-style-position: initial;
}

ol li {
    color: #e9ba4c;
    list-style-type: upper-roman;
}

.paises {
    color: #f6c0d0;
}

h3 {
    color: rgb(200, 137, 231);
}

.letra {
    font-size: 20px;
}

.contenedor {
    width: 98%;
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #2a1a1f;
}

.tarjeta {
    border-radius: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
}

.tarjeta__contenido {
    background-color: #503d26;
    border-radius: 5%;
    font-size: 15px;
    text-align: justify;
}

.tarjeta__contenido2 {
    background-color: #915d50cb;
    border-radius: 10%;
    text-align: right;
    margin-right: 14px;
}

.tarjeta__img {
    width: 150px;
    height: 180px;
    margin-right: 10px;
    border-radius: 5%;
}

.tarjeta__titulo {
    font-size: 1.5rem;
    color: #f4a259;
    margin-bottom: 20px;
    text-align: center;
}

.tarjeta__parrafo {
    line-height: 28px;
}

.tarjeta__titulo2 {
    font-size: 1.5rem;
    color: #f4a259;
    margin-bottom: 20px;
    text-align: center;
}

.tarjeta__parrafo2 {
    line-height: 25px;
    color: #f4fec1;
    font-size: 15px;
    text-align: left;
    margin: 5px;
}

@media screen and (max-width: 350px){
    section p {
        width: 90%;
        text-align: justify;
        font-size: 10px;
        margin: 10px;
    }

    .tarjeta_img{
        vertical-align: text-bottom;
        
    }

    .tarjeta__contenido {
        text-decoration: none;
        display: flex;
        flex-wrap: wrap;
        font-size: 10px;
    }
}

/* Finaliza Sección Café Inicio */

/* Sección Productos */
.imagProd {
    margin: 30px 50px;
    width: 300px;
}

.padre-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
}

/* Finaliza Seccion Productos */

/* Sección Nosotros */

.flexBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
}

.textoFlexbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: columns;
}

.flexImagen {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: stretch;
}

/* Finaliza sección Nosotros */

/* Sección Contacto */
.header {
    color: #f4a259;
    font-size: 27px;
    padding: 10px;
    margin: auto;
}

.bigicon {
    font-size: 35px;
    color: #b35555;
}


/* Finaliza Codigos CSS para pagina principal */

/* Codigos CSS compartido entre header, main y footer */

.modal-header {
    background-color: black;
    color: #f4a259;
}

.modal-body {
    background-color: black;
}

.cvBuscar {
    background-color: blanchedalmond;
    color: black;
}

header nav {
    font-family: "Ibarra Real Nova", serif;
    background-color: #f2e392;
    text-align: center;
}

header nav a {
    text-decoration: none;
    color: #30353a;
    font-weight: 750;
    margin-right: 40px;
    padding: 0%;
}

header nav ul {
    list-style: none;
    font-size: 0;
}

header nav li {
    display: inline-block;
    position: relative;
    font-size: 15px;
}

header nav ul ul {
    position: absolute;
    display: none;
}

header nav ul ul li {
    display: block;
    margin: 1px;
}

header nav ul li:hover ul {
    display: block;
    background-color: #ebca7ccb;
}

/* Finaliza Codigos CSS compartido entre header, main y footer */