/* Codigos CSS para pie de pagina */

footer {
    background-color: #141212;
    margin-top: 5%;
    padding: 1px;
}
/* Seccion Ubicación */
h6 {
    color: #f4a259;
    font-size: 25px;
    margin: 5px auto;
}

.direccion {
    color: #f4a259;
    font-size: 25px;
    margin: 5px auto;
}

.redesSociales {
    width: 30px;
    margin-right: 200px;
}

/* Finaliza Seccion Ubicación */

/* Sección Copyright */

.footerCopyright {
    background-color: #575252e8;
}

.Copyright {
    text-align: center;
    font-size: 20px;
}

/* Finaliza Sección Copyright */

/* Finaliza Codigos CSS para pie de pagina */
