/* Codigos CSS para encabezado */

.fondoLadrillos {
    background-image: url(../Imagenes/fondo.png);
    background-position: center;
    background-size: cover;
}

.logo {
    width: 150px;
    margin-top: 1%;
    margin-right: 1%;
    margin-bottom: 5px;
}

header ul{
    display: none;
}

input:checked  ~ ul{
    display:block;
}

input {
    display: none;
}

nav label {
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
}

header li {
    display: block;
    margin: 0;
    padding: 4px;
    list-style: none;
    border-bottom: 1px;
}

@media screen and (min-width: 800px){
    .menu-button{
    display: none;
    }
    
    header nav ul{
    display: block;
    }
    
    header nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 .5em;
    }
}
/* Finaliza Codigos CSS para encabezado */
