/* Codigos CSS para encabezado */

.fondoLadrillos {
    background-image: url(../Imagenes/fondo.png);
    background-position: center;
    background-size: cover;
}

.logo {
    width: 150px;
    margin-top: 1%;
    margin-left: 1%;
    margin-bottom: 5px;
}

/* Finaliza Codigos CSS para encabezado */
